.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1.1);
}

.start {
  margin: 2em;
}

[data-theme="dark"] .start a {
  color: black;

}

.start a {
  background-color: aliceblue;
  padding: .8em 1.6em;
  font-size: large;
  border-radius: 2em;
  transition: .3s;
  width: fit-content;
}

.start a:hover {
  background-color: #eaeaea;
  border-radius: .1em;
}

.eng a {
  color: aliceblue;
}

[data-theme="dark"] .eng a {
  color: rgb(0, 0, 0)
}

.title>span {
  white-space: nowrap;
}